/*----------------Layout---------------------------------------*/
body{
  min-height: 100vh;
}

.App {
  text-align: center;
  align-content: center;
}

.App-header {
  height: auto;
  padding: 20px;
}

.calculator{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 680px;
  padding-top: 10px;
}

.screen {
  margin: 20px;
  height: auto;
  margin: auto;
  width: 80%;
  display: block;
}

.buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  border-top: 5px solid black;
  padding-top: 10px;
}

button{
  margin: 5px;
  min-width: 50px;
  min-height:  50px;
}

.NumPad {
  max-width: 60%;
  flex-grow: 1;
}

#button-0{
  width: 70%;
}

.top-buttons {
  width: 100%;
}

#clear{
  width: 45%;
  float: left;
  margin-left: 30px;
  margin-right: 0px;
}

.side-buttons{
  max-width: 30%;
  flex-grow: 2;
}

#enter{
  width: 100%;
}

.past-input, .current-input{
  padding: 5px;
  text-align: right;
}

.past-input{
  height: 20px;
}

.current-input{
  height: 35px;
}

/*---------------------------Style----------------------------------*/

body{
  background-image: linear-gradient(to bottom right, rgb(150, 184, 210),rgb(43, 119, 242));
  background-repeat: no-repeat;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-intro {
  font-size: large;
}

.calculator{
  background-image:linear-gradient(to right, rgb(239, 212, 141), rgb(170, 151, 99));

  border: 5px solid black;
  border-right: 15px solid;
  border-left: 15px solid;
  border-radius: 5px;
}

.screen {
  border: 5px solid rgb(170, 131, 98);
  border-width: 5px 8px 5px 8px;
  border-radius: 5px;
}

.buttons{
  border-top: 5px solid black;
  background-color: rgba(56, 55, 55);
}

button{
  border: none;
  border-radius: 5px;
  background-color: rgb(75, 72, 72);
  color: white;
  font-size: 1.1em;

  box-shadow: 
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

button:hover{
  background-color: rgb(85, 82, 82);
}

.past-input, .current-input{
  background-color: rgb(165, 161, 161);
  text-align: right;
  color: rgb(0,0,0);
}

.past-input{
  font-size: 18px;
}

.current-input{
  font-size: 30px;
}